#phone {
    background-color: aqua;
    height: 55em;
    width: 25em;
    border: 15px solid black;
    border-radius: 2em;
    box-shadow: 4px 4px 2px grey;
}

#barretta {
    background-color: black;
    height: 3em;
    width: 13em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

#interfono {
    background-color: grey;
    height: 0.5em;
    width: 4em;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 3em;
}

#camera {
    background-color: grey;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin-left: 8em;
    margin-top: -0.8em;
}
